body {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffc107;
}
#historyButtons {
  border-radius: 10px;
}
#historyButtons:hover {
  background-color: white !important;
  font-size: 1.3rem;
}
#mySquare:hover {
  background-color: aliceblue !important;
}
